@page "/"

@using System.Security.Claims

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
	<Authorized>
		<h2>Welcome @context.User.FindFirst(ClaimTypes.GivenName).Value</h2>
		
		@foreach (var claim in context.User.Claims)
		{
			<h5>@claim.Value</h5>
		}
	</Authorized>
	<NotAuthorized>
		<MudLink Href="/authentication/login">Login</MudLink>
	</NotAuthorized>
</AuthorizeView>
