@namespace StockControl.Components

<MudIconButton Icon="@Icons.Material.Filled.Add" Color=" Color.Success"  OnClick="AddSupplier"></MudIconButton>

<div class="mt-4">
	<SupplierTable OnEditClicked="EditSupplier" OnDeleteClicked="DeleteSupplierAsync"/>
</div>
